### Pandas Apply Lambda

Always remember the Zen of Python!!!

In [10]:
import pandas as pd

In [11]:
df_movie=pd.read_csv("../data/input/IMDB-Movie-Data.csv")
df_movie.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [12]:
# import this

# **Challenge 1. Using a single argument**

We want to create **bins** of movies according to the number of votes they've received. For that matter, we will create a new column named **'bin'** which will tag every movie as follow:
- From 0 to 999 ==> 'cat_1'
- From 1000 to 9999 ==> 'cat_2'
- From 10000 to 99999 ==> 'cat_3'
- From 100000 to 999999 ==> 'cat_4'
- More than 1000000 ==> 'cat_5'

In [13]:
def categorize(votes):
    if 0<=votes<=999:
        votes="cat_1"
    elif 1000<=votes<=9999:
        votes="cat_2"
    elif 10000<=votes<=99999:
        votes="cat_3"
    elif 100000<=votes<=999999:
        votes="cat_4"
    elif votes >1000000:
        votes="cat_5"
    else:
        votes="non_cat"
    return votes

In [14]:
categorize(-1)

'non_cat'

In [15]:
df_movie["Votes"].apply(categorize).unique()

array(['cat_4', 'cat_3', 'cat_2', 'cat_1', 'cat_5'], dtype=object)

In [16]:
df_movie["Bin"]=df_movie["Votes"].apply(categorize)
df_movie.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Bin
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,cat_4
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,cat_4
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,cat_4
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,cat_3
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,cat_4

# **Challenge 2. Using two arguments**

We want to know how much is the revenue per minute for every movie.

In [17]:
# Vamos a comprobar si las peliculas se repiten en el df
df_movie["Title"].unique() # esto nos da un array
df_check=pd.DataFrame(df_movie["Title"].unique())
print(len(df_check))
print(len(df_movie))

999
1000

In [18]:
# Parece que tenemos un duplicado, vamos a buscarlo para decidir qué hacer:
serie_check=df_movie["Title"].duplicated()
serie_check[serie_check == True].index[0] # esto nos dice que el duplicado está en la fila 632. Y lo dejamos aquí porque vamos a usar el método más sencillo, sin hacer agrupaciones

632

In [19]:
df_movie.apply(lambda row: row["Revenue (Millions)"]/row["Runtime (Minutes)"], axis=1)

0      2.753140
1      1.019839
2      1.180513
3      2.502963
4      2.642439
         ...
995         NaN
996    0.186596
997    0.591939
998         NaN
999    0.225747
Length: 1000, dtype: float64

# **Challenge 3. A bit more complicated**

We want to create a __new rating__ where we add 1 point if the genre is thriller but subtract 1 point if the genre is comedy.

In [20]:
df_movie.apply(lambda row: row["Rating"]+1 if "Thriller" in row["Genre"] else(row["Rating"]-1 if "Comedy" in row["Genre"] else row["Rating"]), axis=1)

0      8.1
1      7.0
2      8.3
3      6.2
4      6.2
      ...
995    6.2
996    5.5
997    6.2
998    4.6
999    4.3
Length: 1000, dtype: float64

# **Challenge 4. A bit too weird...**

We want to know whether the integer part of the number resulting from the sum of the ASCII value of every character of the movie title divided by the number of votes, is a prime number (remember that prime numbers are integers).

In [21]:
# Vamos a ver con un ejemplo cómo sacar el ASCII value
print([ord(i) for i in 'Guardians of the Galaxy'])
sum([ord(i) for i in 'Guardians of the Galaxy'])

[71, 117, 97, 114, 100, 105, 97, 110, 115, 32, 111, 102, 32, 116, 104, 101, 32, 71, 97, 108, 97, 120, 121]

2170

In [44]:
# Vamos a hacerlo paso a paso. Primero creamos una columna nueva con Sum_of_ASCII
df_movie['Sum_of_ASCII']=df_movie.apply(lambda row: sum([ord(i) for i in row['Title']]), axis=1)
df_movie.head(10)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Bin,Sum_of_ASCII,ASCII_divided_by_votes
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,cat_4,2170,0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,cat_4,1068,0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,cat_4,524,0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,cat_3,401,0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,cat_4,1252,0
5,6,The Great Wall,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0,cat_3,1252,0
6,7,La La Land,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0,cat_4,793,0
7,8,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,NaN,71.0,cat_2,831,0
8,9,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0,cat_2,1547,0
9,10,Passengers,"Adventure,Drama,Romance",A spacecraft traveling to a distant colony pla...,Morten Tyldum,"Jennifer Lawrence, Chris Pratt, Michael Sheen,...",2016,116,7.0,192177,100.01,41.0,cat_4,1051,0

In [33]:
# Ahora creamos una columna con la división entre esta Sum_of_ASCII y Votes:
df_movie["ASCII_divided_by_votes"]=df_movie.apply(lambda row: int(row["Sum_of_ASCII"]/row["Votes"]), axis=1)

In [43]:
# Hacemos una pivot table para hacernos una idea de qué números nos devuele esto:
pivot_table=df_movie.pivot_table(index=["ASCII_divided_by_votes"], values=["Title"], aggfunc=["count"]).reset_index()
pivot_table

   ASCII_divided_by_votes count
                          Title
0                       0   950
1                       1    18
2                       2     5
3                       3     7
4                       4     3
5                       5     5
6                       6     3
7                       8     3
8                       9     2
9                      12     1
10                     13     2
11                     20     1

In [ ]:
# Vemos que efectivamente en algunos casos nos devuelve números primos pero ocurre con muy pocas películas.

# **Challenge 5. And finally some fantasy**

Feel free to propose your own ranking based in aggregations of at least 3 columns of the dataset.

In [45]:
df_movie.describe()

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Sum_of_ASCII,ASCII_divided_by_votes
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000,936.000000,1000.000000,1000.00000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043,1353.423000,0.20400
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,103.253540,17.194757,775.609084,1.25617
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000,99.000000,0.00000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,13.270000,47.000000,829.750000,0.00000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,47.985000,59.500000,1170.000000,0.00000
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,113.715000,72.000000,1673.250000,0.00000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000,5369.000000,20.00000

In [48]:
# Vamos a sacar un nuevo rating donde vamos a sumarle al rating actual puntos en función del número de votos y metascore
# 1. Vamos a crear Votes_multiplier: vamos a subir el rating un 0%-10%-20%-30% en función del número de votos
def categorize2(votes):
    if 10000<=votes<=99999:
        votes=1.1
    elif 100000<=votes<=999999:
        votes=1.2
    elif votes >1000000:
        votes=1.3
    else:
        votes=1
    return votes

In [50]:
df_movie["Votes_multiplier"]=df_movie["Votes"].apply(categorize2)
#df_movie.head()

In [55]:
# 2. Vamos a crear Metascore_extra_points: vamos a incrementar el rating en 0.25-0.5-0.75 dependiendo del Metascore
def categorize3(metascore):
    if 47<=metascore<=59.50:
        metascore=0.25
    elif 59.50<metascore<=72:
        metascore=0.5
    elif metascore>72:
        metascore=0.75    
    else:
        metascore=0
    return metascore

In [57]:
df_movie["Metascore_extra_points"]=df_movie["Metascore"].apply(categorize3)
#df_movie.head()

In [61]:
# 3. Finalmente vamos a combinar Rating, Votes_multiplier y Metascore_extra_points:
df_movie["New_Rating"]=df_movie.apply(lambda row: row["Rating"]*row["Votes_multiplier"]+row["Metascore_extra_points"], axis=1)
#df_movie.head()

In [62]:
# Finalmente vamos a ordenar nuestro df por esta nueva columna, a ver si el Ranking ha cambiado
df_movie.sort_values("New_Rating", inplace=True, ascending=False)
df_movie.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Bin,Sum_of_ASCII,ASCII_divided_by_votes,Votes_multiplier,Metascore_extra_points,New_Rating
54,55,The Dark Knight,"Action,Crime,Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart,Mi...",2008,152,9.0,1791916,533.32,82.0,cat_5,1352,0,1.3,0.75,12.45
80,81,Inception,"Action,Adventure,Sci-Fi","A thief, who steals corporate secrets through ...",Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...",2010,148,8.8,1583625,292.57,74.0,cat_5,937,0,1.3,0.75,12.19
36,37,Interstellar,"Adventure,Drama,Sci-Fi",A team of explorers travel through a wormhole ...,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",2014,169,8.6,1047747,187.99,74.0,cat_5,1273,0,1.3,0.75,11.93
124,125,The Dark Knight Rises,"Action,Thriller",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway,Gary ...",2012,164,8.5,1222645,448.13,78.0,cat_5,1902,0,1.3,0.75,11.80
144,145,Django Unchained,"Drama,Western","With the help of a German bounty hunter , a fr...",Quentin Tarantino,"Jamie Foxx, Christoph Waltz, Leonardo DiCaprio...",2012,165,8.4,1039115,162.80,81.0,cat_5,1538,0,1.3,0.75,11.67

In [ ]:
# Y vemos que efectivamente, el ranking anterior ya no sirve. Ahora en el top están películas con muchos votos y con un Metascore más alto.

# **Bonus challenge. Freaky bonus**

We want to know which movies might have hidden paterns in their description. A way to know that is finding those movies which the sum of all numeric values of the string description hash (SHA256) are between their revenue and their number of votes.